<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fascinate-Regular.ttf</string>
		<string>Modak-Regular.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wir benötigen deinen Standort, um die Karte korrekt anzuzeigen.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
